<script>
	// import '../app.scss';
	import { page } from '$app/stores';
	import '../app.css';
	export let data;
</script>

<!-- https://css-tricks.com/how-to-use-tailwind-on-a-svelte-site/ -->
<div class="container px-6 lg min-h-screen m-auto" style="border:1px solid gray ">
<div class="navbar bg-base-100">
	<div class="navbar-start">
	  <div class="dropdown">
		<label tabindex="0" class="btn btn-ghost lg:hidden">
		  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
		</label>
		<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
			<li><a href="/todo">TodoList</a></li>
		{#if data.session?.user?.role == 3}
				<li><a href="/todoAdmin">todoAdmin</a></li>
		{:else}
		{/if}	
		<li>
			{#if data.session?.user?.name}
				<a href="/Exit">Exit</a>
			{:else}
				<a href="/login">Вход</a>
				<a href="/register">Регистрация</a>
			{/if}
		</li>	
	  </div>
	  <a href="/" class="btn btn-ghost normal-case text-xl">Bruh moment</a>
	</div>
	<div class="navbar-center hidden lg:flex">
	  <ul class="menu menu-horizontal px-1">
			<li><a href="/todo">TodoList</a></li>
			{#if data.session?.user?.role == 3}
					<li><a href="/todoAdmin">todoAdmin</a></li>
			{:else}
			{/if}	
			<li>
				{#if data.session?.user?.name}
					<a href="/Exit">Exit</a>
				{:else}
					<a href="/login">Вход</a>
					<a href="/register">Регистрация</a>
				{/if}
			</li>	
	  </ul>
	</div>
  </div>


	<slot />

	<footer
		style="margin-bottom: 5px;"
		class="sticky top-full mb-auto footer p-10 bg-neutral text-neutral-content"
	>
		<div>
			<span class="footer-title">Васю</span>
		</div>
		<div>
			<span class="footer-title">Били</span>
		</div>
		<div>
			<span class="footer-title">Хакеры из Харькова</span>
		</div>
	</footer>
</div>

<style lang="postcss">
	:global(html, body) {
		min-height: 100vh;
	}
	:global(body) {
		background-color: theme(colors.gray.200);
	}
</style>

