
<script>
	import welcome from '$lib/images/svelte-welcome.webp';
	// так нельзя import { serv } from '$lib/server/servmodule.js';
	import { page } from '$app/stores';
	export let data;
	$: session = $page.data.session;
</script>
<div class="min-h-screen">
	HOME PAGE
	<p>User - {session?.user?.role}</p>
	<p>ID: {$page.data.session?.user?.id}</p>
	<p>Token: {data.session?.user?.token}</p>
	<p>Name: {session?.user?.name}</p>
	<!-- <div class="columns-1">HOME PAGE - Начало</div>
	<div class="border-2">
		<p>$page.data.session;</p>
		{JSON.stringify($page.data.session)}
	</div>
	<div class="border-2">
		<p>props.data;</p>
		{JSON.stringify(data)}
	</div>
	<div class="columns-1">HOME PAGE - Конец</div> -->
</div>