<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;

	

	import { enhance } from '$app/forms';
	import { page } from '$app/stores';

	

	/**{Object.<string, number>} */
	let selected_country = {};

	function dateTodo(dateTodo){
		if(dateTodo){
			return(dateTodo.slice(0,16).replace("T"," "))
		}
		else{
			return(new Date().toISOString().slice(0,16).replace("T"," "))
		}
	}
</script>


<div class="w-full">
	{#each data.todoload as todo}
		<div class="py-1">
			<div class="rounded-lg border border-amber-600 grid grid-flow-col lg:auto-rows-min lg:grid-cols-[150px_minmax(400px,_8fr)_160px] lg:grid-rows-1 grid-rows-2 grid-rows-[25px_minmax(25px,_8fr)] grid-cols-[minmax(50px,_8fr)_60px]">
				<div class="ml-2 font-medium">{dateTodo(todo.todo_complite_datetime)}</div>
				<div class="ml-2 font-medium break-all">{todo.todo_text}</div>
				<div class="ml-2 dropdown w-full row-span-2 lg:row-span-1 place-self-end">
					id: {todo.users.user_id}	
					login: {todo.users.user_login}		
				</div> 
			</div>
		</div>
	{/each}
</div>





<style>
	
</style>
