<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;
	let password = "";
	$: password&&CheckPassword()
	import { writable } from 'svelte/store';
	let resultCheckPassword = writable(false);
	let readPassword = writable(false);
	function CheckPassword(){
		const myRe = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[\^\w\d\s:])([^\s]){8,16}$/gm;
		const result = password.replace(myRe, "bruh");
		if(result=="bruh"){
			$resultCheckPassword = true;
			$readPassword= true;
		}
		else{
			$resultCheckPassword = false;
			$readPassword= true;
		}
	}

	let login = "";
	$: login&&Checklogin()
	let resultChecklogin = writable(false);
	let readlogin = writable(false);
	function Checklogin(){
		const myRe = /^[a-zA-Z0-9]{4,15}$/g;
		const result = login.replace(myRe, "bruh");
		if(result=="bruh"){
			$resultChecklogin = true;
			$readlogin= true;
		}
		else{
			$resultChecklogin = false;
			$readlogin= true;
		}
	}
	
</script>

<div class="card w-96 bg-primary text-primary-content mb-10 mt-5 m-auto bg-white">
	<div class="card-body">
		<h2 class="card-title">Регистрация</h2>
		<div>
			{#if form?.user}
				Пользователь с таким именем уже есть
			{/if}
		</div>
		<div>
			{#if form?.password}
				Пароль проверку не прошел :>
			{/if}
		</div>
		<!-- <div>{JSON.stringify(data)}</div> -->

		<form action="?/register" method="POST">
			<div class="form-control w-full max-w-xs">
				<label class="label" for="username">
					<span class="label-text">Логин:</span>
				</label>
				<input
					id="username"
					bind:value={login}
					name="username"
					type="text"
					required
					class="mb-5 border
					{$readlogin ? "" :" focus:border-blue-500"}
					{$resultChecklogin && $readlogin ? 'border-lime-500 focus:border-lime-800' : ''}
					{$resultChecklogin == false && $readlogin ? 'border-red-600 focus:border-red-800' : ''}
					text-gray-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
				/>
			</div>
			<div class= "{$resultChecklogin || $readlogin == false ? "hidden":""} text-xs text-red-500">
				Длина логина должна состовлять 4-15 симбволов, только латиница и цифры.  
			</div>
			<div class="form-control w-full max-w-xs">
				<label class="label" for="password">
					<span class="label-text">Пароль:</span>
				</label>
				<input id="password" name="password" type="password" bind:value={password} class="mb-5 border {$readPassword ? "" :" focus:border-blue-500"} {$resultCheckPassword && $readPassword ? 'border-lime-500 focus:border-lime-800' : ''} {$resultCheckPassword == false && $readPassword ? 'border-red-600 focus:border-red-800' : ''} text-gray-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
				<div class= "{$resultCheckPassword || $readPassword == false ? "hidden":""} text-xs text-red-500">
					Пароль должен содержать  1 цифру (0-9),
					1 букву нижнего регистра, 
					1 букву верхнего регистра,
					Длина должна состовлять 8-16 симбволов без пробелов
				</div>
			</div>

			<div class="card-actions justify-end mt-5">
				<button class="btn {$resultChecklogin && $resultCheckPassword ? "" :"pointer-events-none"}">Выполнить</button>
			</div>
		</form>
	</div>
</div>

