<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;

	

	import { enhance } from '$app/forms';
	import { form_show } from '$lib/store.js';
	import { form_showDobav } from '$lib/store.js';
	import { form_showDELETE } from '$lib/store.js';
	import ModalKv from '../todo/Modalll.svelte';
	import ModalDobav from '../todo/modaldobav.svelte';
	import ModalDELETE from '../todo/modelDelete.svelte'; 
	import { page } from '$app/stores';

	const showModal = (obj) => {
		selected_country = {...obj};
		$form_show = true;
	};

	const showModalDELETE = (obj) => {
		selected_country = {...obj};
		$form_showDELETE = true;
	};

	const showModalDobav = () => {
		$form_showDobav = true;
	};

	/**{Object.<string, number>} */
	let selected_country = {};

	function dateTodo(dateTodo){
		if(dateTodo){
			return(dateTodo.slice(0,16).replace("T"," "))
		}
		else{
			return(new Date().toISOString().slice(0,16).replace("T"," "))
		}
	}
</script>

<ModalKv currobj={selected_country} />
<ModalDobav />	
<ModalDELETE  currobj={selected_country}/>	
<button class="btn my-8" on:click={() => showModalDobav()}>Добавить запись</button>



<div class="w-full">
	{#each data.todoload as todo}
		<div class="py-1">
			<div class="rounded-lg border border-amber-600 grid grid-flow-col lg:auto-rows-min lg:grid-cols-[150px_minmax(500px,_8fr)_60px] lg:grid-rows-1 grid-rows-2 grid-rows-[25px_minmax(25px,_8fr)] grid-cols-[minmax(50px,_8fr)_60px]">
				<div class="ml-2 font-medium">{dateTodo(todo.todo_complite_datetime)}</div>
				<div class="ml-2 font-medium break-all">{todo.todo_text}</div>
				<div class="ml-2 dropdown w-full row-span-2 lg:row-span-1 place-self-end">
								<label tabindex="0" class="btn m-1">⚙️</label>
								<!-- svelte-ignore a11y-no-noninteractive-tabindex -->			
								<ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
									<li><a on:click={() => showModalDELETE(todo)}>Удалить</a></li>
									<li><a on:click={() => showModal(todo)}>Изменить</a></li>
								</ul>
				</div> 
			</div>
		</div>
	{/each}
</div>





<style>
	
</style>
