<script>
	import { form_show } from '$lib/store.js';
	import { enhance } from '$app/forms';
	import { clickOutside } from "./click_outside.js";	
	/**
	 * @typedef {object} todo
	 * @property {number} todo_id
	 * @property {string} todo_text
	 * @property {string} todo_complite_datetime
	 */
	/** @type {todo} */
	export let currobj;

	const onKeyPress = (event) => {
		if (event.code == 'Enter') {
			event.preventDefault();
		}
	};
	function dateTodo(dateTodo){
		if(dateTodo){
			return(dateTodo.slice(0,16))
		}
		else{
			return(new Date().toISOString().slice(0,16))
		}
	}

</script>

<div class="modal {$form_show ? 'modal-open' : ''}">
	<div class="relative w-full max-w-2xl max-h-full" use:clickOutside on:outclick={() => {$form_show = false;}}>
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Добавление записи
                </h3>
                <button type="button" on:click={(e) => {e.preventDefault(); $form_show = false; }} class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
			{#if currobj }
			<form method="POST" action="?/update" use:enhance>
				<input value={currobj.todo_id} type="hidden" name="todo_id" />
            	<!-- Modal body -->
            	<div class="p-6 space-y-6">
					<label>
                		<p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                   	 	Текст
                		</p>
                		<input bind:value={currobj.todo_text} class="bg-gray-50 mb-5 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" on:keypress={onKeyPress} type="text" name="todo_text"/>
					</label>
					<label>
                		<p class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                		    Дата
                		</p>
                		<input value={dateTodo(currobj.todo_complite_datetime)} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" on:keypress={onKeyPress} type="datetime-local" name="todo_complite_datetime"/>
					</label>
          	  	</div>
           	 <!-- Modal footer -->
           	    <div class="flex items-center justify-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
         	       <button on:click={() => {$form_show = false;}} type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Добавить</button>
         	       <button on:click={(e) => {e.preventDefault(); $form_show = false;}}  class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Отменить</button>
          	    </div>
			</form>
			{/if}
        </div>
    </div>
</div>
