<script>
	import { form_showDELETE } from '$lib/store.js';
	import { enhance } from '$app/forms';
	import { clickOutside } from "./click_outside.js";	
	/**
	 * @typedef {object} todo
	 * @property {number} todo_id
	 * @property {string} todo_text
	 */
	/** @type {todo} */
	export let currobj;

	const onKeyPress = (event) => {
		if (event.code == 'Enter') {
			event.preventDefault();
		}
	};
</script>

<div class="modal {$form_showDELETE ? 'modal-open' : ''} ">
	<div class="">
		<div class="relative w-full max-w-md max-h-full" use:clickOutside on:outclick={() => {$form_showDELETE = false;}}>
			<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
				{#if currobj}
				<form method="POST" action="?/delete" use:enhance class="p-6 text-center">
					<input value={currobj.todo_id} type="hidden" name="todo_id" />
					<svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
					<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Вы действительно хотите удалить эту запись?</h3>
					<button  on:click={() => {$form_showDELETE = false;}} type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
						Да, я уверен
					</button>
					<button  on:click={(e) => {e.preventDefault(); $form_showDELETE = false;}} type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
						Отмена
					</button>
				</form>
				{/if}
			</div>
		</div>
	</div>
</div>
