<script>
	import { form_show } from '$lib/store.js';
	import { enhance } from '$app/forms';

	/**
	 * @typedef {object} Country
	 * @property {number} id
	 * @property {string} name
	 */
	/** @type {Country} */
	export let currobj;

	const onKeyPress = (event) => {
		if (event.code == 'Enter') {
			event.preventDefault();
		}
	};
</script>

<div class="modal {$form_show ? 'modal-open' : ''}">
	<div class="modal-box">
		{#if currobj}
			<form method="POST" action="?/update_country" use:enhance>
				<p class="py-2">Отредактируйте название страны:</p>

				<input value={currobj.id} type="hidden" name="id" />
				<input
					class="w-full"
					bind:value={currobj.name}
					on:keypress={onKeyPress}
					type="text"
					name="name"
				/>

				<div style="display: flex; justify-content: end;" class="mt-8">
					<button
						class="btn btn-info mr-4"
						on:click={(e) => {
							e.preventDefault();
							$form_show = false;
						}}>Закрыть</button
					>
					<button
						class="btn btn-info"
						type="submit"
						on:click={() => {
							$form_show = false;
						}}>Сохранить</button
					>
				</div>
			</form>
		{/if}
	</div>
</div>

