<script>

	import { enhance } from "$app/forms";

    export let data;
</script>

<h1>what?</h1>

<form class = "form-group" method="POST" action="?/isthat" use:enhance> 
		<input type="number" name="stringPLISE"  />
        
</form>

{data.namem}







<style> 

.form-group {
   margin-bottom: 20px;
   padding: 10px;
   background: #291810;
}
.form-group input {
   display: block;
   width: 100%;
}
.form-group input {
   padding: 0;
   line-height: 30px;
   background: #FAAB1B;
   border-width: 0;
}

</style>
