<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;
</script>

<div class="card w-96 bg-white text-primary-content mb-10 mt-5 m-auto">
	<div class="card-body">
		<h2 class="card-title">Вход</h2>
		<div>
			{#if form?.is_user == false}
				Пользователь не найден
			{/if}
			{#if form?.bad_pwd}
				Пароль не прошел проверку
			{/if}
		</div>

		<form action="?/login" method="POST">
			<div class="form-control w-full max-w-xs bg-white">
				<label class="label" for="username">
					<span class="label-text">Логин:</span>
				</label>
				<input
					id="username"
					name="username"
					type="text"
					required
					class="bg-gray-50 mb-5 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
				/>
			</div>

			<div class="form-control w-full max-w-xs">
				<label class="label" for="password">
					<span class="label-text">Пароль:</span>
				</label>
				<input id="password" name="password" type="password" class="bg-gray-50 mb-5 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
			</div>

			<div class="card-actions justify-end mt-5">
				<button class="btn">Выполнить</button>
			</div>
		</form>
	</div>
</div>

